﻿<%@ tag language="java" pageEncoding="UTF-8"%>

<ul class="fooTer">
	<li>
		<a href="${pageContext.request.contextPath}/terminos.htm">Términos y condiciones</a>
	</li>
	<span>|</span>
	<li>
		<a href="${pageContext.request.contextPath}/privacidad.htm">Privacidad</a>
	</li>
</ul>