<%@ tag language="java" pageEncoding="UTF-8"%>


<%@ attribute name="line1" description="Texto de la prmiera línea" required="false" %>
<%@ attribute name="line2em" description="Texto de la segúnda línea &lt;em/&gt;" required="false" %>

<div id="preloader">
	<div id="status">
		<p class="center-text">
			${line1 }
			<em>${line2em }</em>
		</p>
	</div>
</div>